* {
	text-align: center;
	background-color: rgb(68, 48, 48);
}

h1,
p {
	color: white;
}

a:link {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}
  
a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}
  
a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}